# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*$py.class
*.vscode
.vscode
.envrc
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Test artifacts
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment files
.env
.env.*
*.env.*

# Pyre type checker
.pyre/

# Mypy type checker
.mypy_cache/

# PyCharm project files
.idea/

# VS Code project files
.vscode/

# Local settings
*.local

# macOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3
